#NUXT_ENV=local
#NUXT_SITE_NAME="Leo Web Developer"
#NUXT_BASE_URL=https://leowebguy.ddev.site

# RESEND
WEBPACK_EMAIL_API_URL="https://faas-nyc1-2ef2e6cc.doserverless.co/api/v1/web/fn-86527741-6118-4953-a5b7-46c827b1a71a/email/send"
WEBPACK_EMAIL_API_KEY="935f2c4b..."
WEBPACK_EMAIL_TO="lemmleoncio@gmail.com"

# RECAPTCHA V2
WEBPACK_RECAPTCHA_KEY=6Lct-SQUA...
