# RESEND
VITE_EMAIL_API_URL="https://resend-mailer-app-i2w6i.ondigitalocean.app/email/send"
VITE_EMAIL_API_KEY="935f2c4b..."
VITE_EMAIL_TO="lemmleoncio@gmail.com"

# RECAPTCHA V2
VITE_RECAPTCHA_KEY="6Lct-SQUA..."

