<h3>I'm a <u>senior web engineer</u> and a <u>craft cms expert</u> with 14+ yrs of experience working with clients
    ranging from small businesses to large corporations.</h3>

<div class="d-block my-4"></div>

<div class="d-flex flex-wrap gap-2">
    <img alt="PHP" src="/svg/php.svg" title="PHP">
    <img alt="Craft CMS" src="/svg/craftcms.svg" title="Craft CMS">
    <img alt="Laravel" src="/svg/laravel.svg" title="Laravel">
    <img alt="WordPress" src="/svg/wp.svg" title="WordPress">
    <img alt="Shopify" src="/svg/shopify.svg" title="Shopify">

    <div class="d-none d-md-block w-100"></div>
    <img alt="Docker" src="/svg/docker.svg" title="Docker">
    <img alt="Linux" src="/svg/linux.svg" title="Linux">
    <img alt="Ubuntu" src="/svg/ubuntu.svg" title="Ubuntu">
    <img alt="AWS" src="/svg/aws.svg" title="AWS">
    <img alt="Apache" src="/svg/apache.svg" title="Apache">
    <img alt="Github" src="/svg/github.svg" title="Github">
    <img alt="Terminal" src="/svg/terminal.svg" title="Terminal">
    <img alt="Bash" src="/svg/bash.svg" title="Bash">
    <img alt="MySQL" src="/svg/mysql.svg" title="MySQL">
    <img alt="PostgreSQL" src="/svg/postgre.svg" title="PostgreSQL">
    <img alt="MariaDB" src="/svg/mariadb.svg" title="MariaDB">

    <div class="d-none d-md-block w-100"></div>
    <img alt="HTML5" src="/svg/html5.svg" title="HTML5">
    <img alt="CSS3" src="/svg/css3.svg" title="CSS3">
    <img alt="Sass" src="/svg/sass.svg" title="Sass">
    <img alt="JavaScript" src="/svg/js.svg" title="JavaScript">
    <img alt="jQuery" src="/svg/jquery.svg" title="jQuery">
    <img alt="VueJs" src="/svg/vue.svg" title="jQuery">
    <img alt="NodeJS" src="/svg/node.svg" title="NodeJS">
    <img alt="NPM" src="/svg/npm.svg" title="NPM">
    <img alt="Webpack" src="/svg/webpack.svg" title="Webpack">
    <img alt="Grunt" src="/svg/grunt.svg" title="Grunt">
    <img alt="Gulp" src="/svg/gulp.svg" title="Gulp">
    <img alt="Handlebars" src="/svg/handlebars.svg" title="Handlebars">
    <img alt="Bootstrap" src="/svg/bootstrap.svg" title="Bootstrap">
    <img alt="Tailwind" src="/svg/tailwind.svg" title="Tailwind">
</div>
