<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="canonical" href="{{ canonical }}">
    <link rel="shortlink" href="{{ canonical }}">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{{ appCSS }}}"/>
    <script src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{'token': 'd7799b0dd4944e95ab9faa7436a8c9e1'}" defer></script>
    <script src="https://google.com/recaptcha/api.js?render=6Lfe55gUAAAAALT63VWPk0DsLRlh-cK77Bv0QkVL" async></script>
</head>
