/**
 * Media queries
 */

// Apply to the given breakpoint and wider.
@mixin media-min($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @media (min-width: $min) {
    @content;
  }
}

// Apply to the given breakpoint and narrower.
@mixin media-max($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @media (max-width: $max) {
    @content;
  }
}

// Apply between the min and max breakpoints
@mixin media-between($min, $max, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($min, $breakpoints);
  $max: breakpoint-max($max, $breakpoints);

  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
