name: leowebguy.com

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'public'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        env:
          MIX_EMAIL_TO: ${{ vars.MIX_EMAIL_TO }}
          MIX_RECAPTCHA_KEY: ${{ vars.MIX_RECAPTCHA_KEY }}
          GITHUB_RUN_ID : ${{ github.run_id }}
        with:
          node-version: '20'
      - run: npm ci --no-audit --legacy-peer-deps
      - run: npx mix --production
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
      - uses: actions/deploy-pages@v4
        id: deployment
